@using res = Prosoft.Resource.Web.Ouikum;
@using Ouikum;
  <style>  
        .bg-active
        {
            background : #0044CC;
        }
</style>
    <div class="ProductManageRight"> 
    <div class="Bg_Allitem">
        <div class="fl_l mar_tl17 Bg_item font_center cursor" com-id="@ViewBag.LogonCompID"
         onclick="PrepareAddProduct($(this))"  >
            
            <a class="btn-tootip-bottom" title="@res.Product.lblAdd_product" rel="tooltip">
           @* <span style="position:absolute; z-index:0; " class="font_20">เพิ่ม</span>*@
                <img class="mar_t10 layout_center " src="@Url.css("MyB2B/images/btn_AddProduct.png")"  />
               
            </a> 
        </div>
    @if (ViewBag.Products != null)
    {
        string[] arrRowFlag = new string[] { "", "", "", "", "approve-item", "approve-item", "approve-item" };

        foreach (var it in (IEnumerable<view_SearchProduct>)ViewBag.Products)
        {
            
           <div class="fl_l mar_tl17 Bg_item font_center gallery-item @arrRowFlag[it.RowFlag]  "> 
            @if (it.RowFlag == 2)
            {
            <div class="fl_l bg_tab_waitapprove" title="@res.Common.lblWaitapprove">
                <div class="fl_l mar_t7 mar_l4 icon_Waitapprove cursor"><span class="fl_l mar_l30">@res.Common.lblWaitapprove</span></div>
                <div class="fl_r mar_t5 mar_r2 icon_Edit cursor" title="@res.Common.colEdit" data-toggle="modal" data-target="#ModalEditProduct" id="@it.ProductID" onclick="PrepareEditByID($(this))"></div>
            </div>
            }
            else if (it.RowFlag == 3)
            {
            <div class="fl_l bg_tab_noapprove">
                <div class="fl_l mar_t7 mar_l4 icon_Noapprove cursor" title="@res.Product.lblMoveToTrash" onclick="deleteWaitapproveRemark($(this))" 
                data-id="@it.ProductID" 
                rowversion="@it.RowVersion"><span  title="@(it.Remark)" class="fl_l mar_l30">@res.Common.lblNoapprove</span>
                </div>
                <div class="fl_r mar_t5 mar_r2 icon_Edit cursor" title="@res.Common.colEdit" data-toggle="modal" data-target="#ModalEditProduct" id="@it.ProductID" onclick="PrepareEditByID($(this))"></div>
            
            </div>
                 <div class="layout_center " style="display:block; position:absolute; width:204px; height:140px;margin:0 auto; opacity:0.8; z-index:1;  margin-top:35px; background:#000; color:#fff; padding:10px; " > 
                @(@res.Common.lblNoapprove+ " : "+it.Remark)
            </div>
            }
            else if (it.RowFlag == 4)
            {
            <div class="fl_l bg_tab_approve " title="@res.Common.lblApprove">
                <div class="fl_l mar_t7 mar_l4 icon_Approve cursor"><span class="fl_l mar_l30">@res.Common.lblApprove</span></div>
                <div class="fl_r mar_t5 mar_r2 icon_Edit cursor" title="@res.Common.colEdit" data-toggle="modal" data-target="#ModalEditProduct" id="@it.ProductID" onclick="PrepareEditByID($(this))"></div>
            </div> 
            }
            else if (it.RowFlag == 5)
            {
            <div class="fl_l bg_tab_waitapprove " title="@res.Common.lblWaitapproveRemark">
                <div class="fl_l mar_t7 mar_l4 icon_WaitapproveRemark cursor"><span class="fl_l mar_l30">@res.Common.lblWaitapproveRemark</span></div>
                 <div class="fl_r mar_t5 mar_r2 icon_Edit cursor" title="@res.Common.colEdit" data-toggle="modal" data-target="#ModalEditProduct" id="@it.ProductID" onclick="PrepareEditByID($(this))"></div>
            </div> 
            }
            else if (it.RowFlag == 6)
            {
            @*<div class="fl_l bg_tab_waitapprove approve-item" title="@res.Common.lblWaitForCheck">
                <div class="fl_l mar_t7 mar_l4 icon_Waitforcheck cursor"><span class="fl_l mar_l30">@res.Common.lblWaitForCheck</span></div>
                <div class="fl_r mar_t5 mar_r2 icon_Edit cursor" title="@res.Common.colEdit" data-toggle="modal" data-target="#ModalEditProduct" id="@it.ProductID" onclick="PrepareEditByID($(this))"></div>
            </div> *@
             <div class="fl_l bg_tab_approve " title="@res.Common.lblApprove">
                <div class="fl_l mar_t7 mar_l4 icon_Approve cursor"><span class="fl_l mar_l30">@res.Common.lblApprove</span></div>
                <div class="fl_r mar_t5 mar_r2 icon_Edit cursor" title="@res.Common.colEdit" data-toggle="modal" data-target="#ModalEditProduct" id="@it.ProductID" onclick="PrepareEditByID($(this))"></div>
            </div> 
            }
            <div class="clean30"></div>
             @if (!string.IsNullOrEmpty(it.ProductImgPath))
             {
                <div class="layout_center product-item" style="width:160px; height:160px;margin:0 auto;" 
                data-id="@it.ProductID" data-rowflag="@it.RowFlag" data-rowversion="@it.RowVersion" catelv1="@it.CateLV1" catelv2="@it.CateLV2" catelv3="@it.CateLV3" 
                onclick="QuickDetailsGetByID($(this))"> 
                <a class="cursor" >
                    <img alt="@it.ProductName" title="@it.ProductName" src="@Url.ThumbProduct(it.CompID, it.ProductID, it.ProductImgPath)" 
                    onload="resizeImg($(this),158,158);setElementMiddle(158, 158,$(this));"/>
                    </a> 
                </div>
             }
             else
             {
                <div class="layout_center product-item thumbnail" style="width:150px; height:150px;margin:0 auto;"
                data-id="@it.ProductID" data-rowflag="@it.RowFlag" data-rowversion="@it.RowVersion" catelv1="@it.CateLV1" catelv2="@it.CateLV2" catelv3="@it.CateLV3" 
                onclick="QuickDetailsGetByID($(this))"> 
                    <img alt="@it.ProductName" title="@it.ProductName" src="http://www.placehold.it/200x200/EFEFEF/AAAAAA&amp;text=no+image" onload="resizeImg($(this),148,148);setElementMiddle(148, 148,$(this));"/>    
                </div>
             }
            <div class="clean5"></div>
            <strong>@Html.SubText(it.ProductName, 30)</strong>   
            </div> 
        }
    }
    <div class="clean20"></div>
        <input type="hidden" class="hidPageIndex" value="@ViewBag.PageIndex" />
        <input type="hidden" class="hidPageSize" value="@ViewBag.PageSize" />
        <input type="hidden" class="hidTotalRow" value="@ViewBag.TotalRow" />
        <input type="hidden" class="hidTotalPage" value="@ViewBag.TotalPage" /> 
        <input type="hidden" id="IsMaxProduct" value="@ViewBag.IsMaxProduct" />
    </div>
    </div>
     

    <script type="text/javascript">
        var proCount = $('#status-product').text();
        if (proCount != "0") {
            if (parseInt(proCount) > 4) {
                $("#sidebar").css("height", "785px");
            }
            if (parseInt(proCount) > 9) {
                $("#sidebar").css("height", "1035px");
            }
            if (parseInt(proCount) > 14) {
                $("#sidebar").css("height", "1288px");
            }
        }

        if ($('.hidTotalPage').val() == 0) {
            $('.hidTotalPage').val(1);
        }
        var param = new Array();
        $(function () {
            //-------------------------------------
            CheckPage(parseInt("@ViewBag.PageIndex", 10));


            // ตรวจสอบว่าเปิดการแก้ไขได้อยู่หรือเปล่า
            var display = $('.Bg_IconManage').css('display');

            // there's the gallery and the trash
            var $gallery = $(".gallery-item"),
			$all = $(".trash,.recommend,.store");

            $rec = $('.gallery-item.approve-item');



            // let the gallery items be draggable
            $gallery.draggable({
                revert: "true", // when not dropped, the item will revert back to its initial position
                //        containment: "body,html", // stick to demo-frame if present
                cursor: "move",
                zIndex: 3,
                cursorAt: { top: 1, left: -10 },
                helper: function (event, ui) {
                    var id = $(this).find(".product-item").attr('data-id');
                    var rowversion = $(this).find(".product-item").attr('data-rowversion');
                    var catelv1 = $(this).find(".product-item").attr('catelv1');
                    var catelv2 = $(this).find(".product-item").attr('catelv2');
                    var catelv3 = $(this).find(".product-item").attr('catelv3');
                    var rowflag = $(this).find(".product-item").attr('data-rowflag');

                    param = {
                        ProductID: parseInt(id, 10),
                        RowVersion: parseInt(rowversion, 10),
                        CateLV1: parseInt(catelv1, 10),
                        CateLV2: parseInt(catelv2, 10),
                        CateLV3: parseInt(catelv3, 10),
                        RowFlag: parseInt(rowflag, 10)
                    }

                    var img = $(this).find(".product-item > a > img").attr('src');

                    //                    img = "<img src='" + img + "' >";
                    //                    var html = "<div class='movetotrash' data-id='" + id + "' rowversion='" + rowversion + "'>";
                    //                    html += "<center>" + img + "</center></div>";
                    //                    return $(html);


                    img = "<div style=' position:absolute;z-index:1111;'><img data-id='" + id + "' rowversion='" + rowversion + "' class='img-polaroid movetotrash' src='" + img + "' ></div>";
                    console.log(img);
                    return $(img);
                }

            });
            // let the trash be droppable, accepting the gallery items
            //============ Drop to Store ========================//
            $('.trash').droppable({
                accept: $('.gallery-item'),
                activeClass: "ui-state-new",
                over: function () {
                    $(this).addClass('bg-active');
                },
                out: function () {
                    $(this).removeClass('bg-active');
                },
                drop: function (event, ui) {
                    $(this).removeClass('bg-active');
                    var process = $(this).attr('menu');
                    try {
                        if (process == "trash") {
                            DragToJunk();
                        }

                    } catch (ex) {
                    }
                }
            });

            //============ Drop to recommend ========================//
            $('.recommend').droppable({
                accept: $rec,
                activeClass: "ui-state-new",
                over: function () {
                    $(this).addClass('bg-active');
                },
                out: function () {
                    $(this).removeClass('bg-active');
                },
                drop: function (event, ui) {
                    $(this).removeClass('bg-active');
                    var process = $(this).attr('menu');
                    try {
                        if (process == "recommend") {
                            DragToRecomm();
                        }

                    } catch (ex) {
                    }
                }
            });



            function DragToJunk() {
                $.ajax({
                    url: GetUrl('@res.Pageviews.UrlProductMoveToJunk'),
                    data: param,
                    success: function (data) {

                        if (CheckError(data)) {
                            SubmitPage();
                        }
                    },
                    error: function () {
                    },
                    type: "POST"
                });
            }

            function DragToRecomm() {

                // console.log(param);
                $.ajax({
                    url: GetUrl('@res.Pageviews.UrlProMoveToRecommend'),
                    data: param,
                    success: function (data) {
                        if (CheckError(data)) {
                            SubmitPage();
                        }
                    },
                    error: function () {
                    },
                    type: "POST"
                });
            }

            // image deletion function
            var recycle_icon = "<a href='link/to/recycle/script/when/we/have/js/off' title='Recycle this image' class='ui-icon ui-icon-refresh'>Recycle image</a>";


            // image recycle function
            var trash_icon = "<a href='link/to/trash/script/when/we/have/js/off' title='Delete this image' class='ui-icon ui-icon-trash'>Delete product</a>";
            function recycleImage($item) {
                $item.fadeOut(function () {
                    $item
					.find("a.ui-icon-refresh")
						.remove()
					.end()
					.css("width", "96px")
					.append(trash_icon)
					.find("img")
						.css("height", "50px")
					.end()
					.appendTo($gallery)
					.fadeIn();
                });
            }

            // image preview function, demonstrating the ui.dialog used as a modal window
            function viewLargerImage($link) {
                var src = $link.attr("href"),
				title = $link.siblings("img").attr("alt"),
				$modal = $("img[src$='" + src + "']");

                if ($modal.length) {
                    $modal.dialog("open");
                } else {
                    var img = $("<img alt='" + title + "' width='384' height='288' style='display: none; padding: 8px;' />")
					.attr("src", src).appendTo("body");
                    setTimeout(function () {
                        img.dialog({
                            title: title,
                            width: 400,
                            modal: true
                        });
                    }, 1);
                }
            }

            // resolve the icons behavior with event delegation
            $("ul.gallery > li").click(function (event) {
                var $item = $(this),
				$target = $(event.target);

                if ($target.is("a.ui-icon-trash")) {
                    deleteImage($item);
                } else if ($target.is("a.ui-icon-zoomin")) {
                    viewLargerImage($target);
                } else if ($target.is("a.ui-icon-refresh")) {
                    recycleImage($item);
                }

                return false;
            });


        });


       
    </script>
  