@using res = Prosoft.Resource.Web.Ouikum
@{
    ViewBag.Title = @res.Common.colManage +@res.Admin.lblPackage;
    Layout = "~/Views/MP/MP_Administrator.cshtml";
}

@section head{
    <link href="@Url.css("Admin/WebConfig/Package.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.css("UC/DatepickerUC/datepicker.css")" rel="stylesheet" type="text/css" />
}

@using res = Prosoft.Resource.Web.Ouikum

<div class="mainContent">

@Html.Partial("Admin/WelcomeMessage")

<!-------------------------Main Menu---------------------------->
@*@Html.Partial("Admin/WebconfigMainMenu")*@

<!-------------------Simple Search & Advance Search------------------->
@Html.Partial("Admin/AdvanceSearch")

<!---------------------------Table------------------------------>
<article class="module width_full">
    <header>
        <h3 class="tabs_involved">@res.Admin.lblPackage @res.Admin.lblManager</h3>
        <ul class="tabs"><li class="active"><a href="#TabPackage">@res.Admin.lblPackage</a></li><li><a href="#TabPackageGroup">@res.Admin.lblPakageGroup</a></li></ul>
    </header>
    <div class="tab_container">
        <div id="TabPackage" class="tab_content">
            <div style="margin:10px 0px 10px 20px;">
                <span class="btnCheckAll mar_r7">
                    <label class="checkbox checkall inline">
                        <input type="checkbox" id="CheckAllPackage" onclick="CheckAllPackage($(this))"/> @res.Common.colSelectAll
                    </label>
                </span>
                <button class="btn" style="margin:2px;">@res.Common.btnNew</button>
                <button class="btn DeletePackages" style="margin:2px;">@res.Common.btnDelete</button>
            </div>
            <div style="margin:10px;">
            @Html.Partial("Admin/Grid/ConfigPackageGrid")
            @Html.Partial("UC/PagingUC/PagingAdminUC")
            </div>

        </div>

        <div id="TabPackageGroup" class="tab_content" style="display:none;">
            <div style="margin:10px 0px 10px 18px">
                <span class="btnCheckAll mar_r7">
                    <label class="checkbox checkall inline">
                        <input type="checkbox" id="CheckAllGroup" onclick="CheckAllGroup($(this))"/> @res.Common.colSelectAll
                    </label>
                </span>
                <button class="btn" style="margin:2px;">@res.Common.btnNew</button>
                <button class="btn DeletePackageGroups" style="margin:2px;">@res.Common.btnDelete</button>
            </div>
            <div style="margin:20px;">
            @Html.Partial("Admin/Grid/ConfigPackageGroupGrid")
            @Html.Partial("UC/PagingUC/PagingAdminUC")
            </div>
        </div>
    </div>
</article>

</div>
@Html.Partial("UC/FooterUC/AdminFooterUC")

@section js{
<script src="@Url.js("Admin/WebConfig/Package.js")" type="text/javascript"></script>
    <script src="@Url.js("UC/DatepickerUC/bootstrap-datepicker.js")" type="text/javascript" charset="UTF-8"></script>
    <script src="@Url.js("UC/DatepickerUC/locales/bootstrap-datepicker.th.js")" type="text/javascript" charset="UTF-8"></script>

<script type="text/javascript">
    //On Click Event
    $("ul.tabs li").click(function () {
        $("ul.tabs li").removeClass("active"); //Remove any "active" class
        $(this).addClass("active"); //Add "active" class to selected tab
        $(".tab_content").hide(); //Hide all tab content
        var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
        $(activeTab).fadeIn(); //Fade in the active ID content
        return false;
    });

    //-----------------------------------duration datepicker--------------------------------------
    var startDate = new Date();
    var endDate = new Date();
    $("#txtfromDate").datepicker()
            .on('changeDate', function (ev) {
                if (ev.date.valueOf() > endDate.valueOf()) {
                    $('#fromDate').val('');
                    $('#alert').find('i').addClass('icon-info-sign');
                    $('#alert').show().find('strong').text('@MvcHtmlString.Create(res.JS.vldstartdate)');
                    $('#alert').addClass("alert alert-error");
                    return false;
                } else {
                    $('#alert').hide();
                    startDate = new Date(ev.date);
                    $('#fromDate').data('date');
                }
                $('#txtfromDate').datepicker('hide');
            });
    $("#txttoDate").datepicker()
            .on('changeDate', function (ev) {
                if (ev.date.valueOf() < startDate.valueOf()) {
                    $('#toDate').val('');
                    $('#alert').find('i').addClass('icon-info-sign');
                    $('#alert').show().find('strong').text('@MvcHtmlString.Create(res.JS.vldenddate)');
                    $('#alert').addClass("alert alert-error");
                    return false;
                } else {
                    $('#alert').hide();
                    endDate = new Date(ev.date);
                    $('#toDate').data('date');
                }
                $('#txttoDate').datepicker('hide');

            });

</script>
}