@using Ouikum;
@using res = Prosoft.Resource.Web.Ouikum;
<table class="table mar_t20 grid" style="width:100%">
    <tbody>
    @if (ViewBag.TotalPage <= 0 || ViewBag.TotalPage == null)
    {
         <tr class="nodata b" valign="middle">
            <td><div align="center">@res.Common.lblNotFound</div></td>
        </tr>
    }
    else
    {
        foreach (var item in (List<b2bAssignLead>)ViewBag.AssignLeads)
        {
        <tr>
            <td style="width: 20px;">
                <input type="hidden" class="hidPrimeID" value="@item.AssignLeadID"/>
                <input type="hidden" class="hidRowVersion" value="@item.RowVersion" />
                <input type="checkbox" name="cbxLeadID" id="@item.AssignLeadID" class="cbxItem cbxLeadID" onclick="CheckBox(@item.AssignLeadID)"/>
               @*@if (item.IsDefaultLead == true)
                {
                    <i class="icon-list-alt iconHorizontal" title="Default Lead"></i>
                }*@
            </td>
            <td>@item.AssignLeadName</td>
            <td>@item.ToContactName</td>
            <td>
                @if (!string.IsNullOrEmpty(item.OtherEmail))
                {
                    @item.OtherEmail
                }
                else
                {
                    @item.ToContactEmail
                }
            </td>
            <td>@item.ToContactTel</td>
            <td>@item.CreatedDate</td>
        </tr>
        }
    }
    </tbody>
    
</table>
@Html.Partial("UC/Grid/PagingPostUC")