@{
    ViewBag.Title = "Edit Article";
    Layout = "~/Views/MP/MP_Administrator.cshtml";
}
@section head{
    <link href="@Url.css("Admin/WebConfig/ManageMember.css")" rel="stylesheet" type="text/css" />
}
@using Ouikum;
@using res = Prosoft.Resource.Web.Ouikum;
@{var Articles = (view_b2bArticle)ViewBag.Articles;}
<style>
    .control-label-Comp,.control-label-Owner,.control-label-Position{float: left;padding-top: 0;text-align: left;width: 150px;}
</style>
<div class="ContentAdmin">
<div class="clean20"></div>
@Html.Partial("Admin/WelcomeMessage")
<!-------------------------Main Menu---------------------------->
@*@Html.Partial("Admin/WebconfigMainMenu")*@

    <article class="module width_full">
        <header><h3>Edit Article</h3></header>
        <div class="module_content">
       <form id="EditArticle_form" class="form-horizontal" action="@Url.Action("EditArticle","Article",new{area="Admin"})" method="post" style="margin-left:50px;">
       <input type="hidden" id="RowVersion" name="RowVersion" class="hidRowVersion" value="@Articles.RowVersion" />
       <input type="hidden" id="ArticleID" name="ArticleID" class="hidRowVersion" value="@Articles.ArticleID" />

       <div class="control-group">
         <label class="control-label-Comp" for="ArticleName">@res.Company.lblBlog_Name :</label>
            <div class="controls-Comp">
          <input type="text" name="ArticleName" id="ArticleName" placeholder="ArticleName"  class="span4" value="@Articles.ArticleName"/>
        </div>
        </div>

       <div class="control-group">
        <label class="control-label-Comp" for="ArticleTypeID">@res.Common.lblCategory :</label>
       <div class="controls-Comp">
        <select name="ArticleTypeID" id="ArticleTypeID" class="span4" onclick="SelectedType($(this).val())">
          @foreach (var it in (IEnumerable<b2bArticleType>)ViewBag.ArticleTypes)
          {
              if(Articles.ArticleTypeID == it.ArticleTypeID){
                <option value="@it.ArticleTypeID" selected="selected">@it.ArticleTypeName</option>
              }else{
                <option value="@it.ArticleTypeID">@it.ArticleTypeName</option>
              }
          }
        </select>
        </div>
      </div>  

        <div class="control-group hide" id="control-group-CompID">
            <label class="control-label-Comp" for="CompID">@res.Common.lblCompany :</label>
            <div class="controls-Comp">
            <div class="input-append" id="SearchCompID" style="display: block;"> 
                <input id="TextSearchCompany" name="Company" size="16" type="text" placeholder="@res.Common.lblSearch @res.Common.lblSupplier" style="width: 292px;" value="@ViewBag.CompName">
                <button class="btn" type="button" onclick="SearchCompany()">@res.Common.lblSearch</button> 
            </div>
            <div class="clean5"></div>
            <a id="ShowComp" class="font_l cursor">@res.Admin.lblShowAllCompany</a>
            <div id="divCompList" class="hide">@Html.Partial("UC/Article/ComNameListUC")</div>
            <div class="clean5"></div>
             <label class="checkbox">
                @if (Articles.IsHot == true)
                {
                    <input type="checkbox" id="chkIsHot" name="IsHot" value="@Articles.IsHot"  checked="checked" />
                }
                else
                {
                    <input type="checkbox" id="chkIsHot" name="IsHot" value="@Articles.IsHot" />
                }
                Is Hot Story
            </label>
                <input type="hidden" @if(Articles.CompID != null){<text>value="@Articles.CompID"</text>}  id="hideCompID" name="hideCompID" />
            </div>
        </div>  

        <div class="control-group hide" id="control-group-Owner">
            <label class="control-label-Owner" for="Owner">@res.Company.lblOwner :</label>
            <div class="controls-Owner">
                <input type="text" name="Owner" id="txtOwner" maxlength="150" value="@Articles.Owner"/>
            </div>
        </div> 

        <div class="control-group hide" id="control-group-Position">
        <label class="control-label-Position" for="Position">@res.Buylead.lblPositionName :</label>
        <div class="controls-Position">
            <input type="text" name="Position" id="txtPosition" maxlength="150" value="@Articles.Position"/>
        </div>
        </div>

       <div class="control-group">
        <label class="control-label-Comp" for="CertifyImgPath">@res.Common.lblImage :</label>
        <div class="controls-Comp">
                 <span class="btn btn-file btn-tootip-top" rel="tooltip"  title="@res.Common.lblSelectImage" style="margin:0">
                     @(Html.Telerik().Upload()
                    .Name("FileImgPath")
                    .Multiple((bool)false)
                    .Async(async => async
                    .Save("SaveBlogImg", "Article")
                    .Remove("RemoveBlogImg", "Article")
                    .AutoUpload((bool)true))
                    .ClientEvents(events => events
                            .OnUpload("onUploadImg")
                    .OnSuccess("onSuccessBlog"))
                     )
                     </span>
                   <input type="hidden" id="ImgPath" name="ImgPath" value="@Articles.ImgPath"/>
            <p class="clean5"></p>
            <div class="fileupload-new thumbnail" id="ImgBlog" style="width: 180px; height: 120px;">
            @if(!string.IsNullOrEmpty(Articles.ImgPath)){
                <img id="img_ImgPath" src="@Url.Article(Articles.CompID, Articles.ArticleID, Articles.ImgPath)" style="width: 180px; height: 120px;"/>
                }else{
                <img id="img_ImgPath" src="http://www.placehold.it/180x120/EFEFEF/AAAAAA&text=no+image"/>
                }
            </div>
         </div> 
      </div> 

       <div class="control-group">
        <label class="control-label-Comp" for="ShortDescription">@res.Common.lblBriefDescription :</label>
        <div class="controls-Comp">
        @if(!string.IsNullOrEmpty(Articles.ShortDescription)){
             <textarea id="ShortDescription" name="ShortDescription" rows="7"  class="span5 font_m">@Articles.ShortDescription</textarea>
        }else{
             <textarea id="ShortDescription" name="ShortDescription" rows="7"  class="span5 font_m"></textarea>
        }
             <div style="color:Red;">- @res.Admin.lbl500text
            </div>
        </div>
      </div>

       <div class="control-group">
        <label class="control-label-Comp" for="Description">@res.Common.lblDescription :</label>
        <div class="controls-Comp">
        @if(!string.IsNullOrEmpty(Articles.Description)){
             <textarea id="Description" name="Description" rows="10"  class="span5">@Articles.Description</textarea>
        }else{
             <textarea id="Description" name="Description" rows="10"  class="span5"></textarea>
        }             
            @*<label class="checkbox" style="cursor:pointer;padding-top:0px;">
              <input type="checkbox" id="RememberUser" value="true" />@res.Member.lblKeep_meตั้งเป็นบทความนี้เป็นบทความประจำหมวดหมู่
            </label>*@
        </div>
      </div>

       <div class="control-group">
        <div class="controls-Comp">
          <button id="submit" type="submit" class="btn btn-default offset "><i class="icon-save mar_t3"></i> @res.Common.btnSave</button>
          <button id="cancel" type="button" class="btn btn-default offset " onclick="window.location = GetUrl('@res.Pageviews.UrlArticleList')"><i class="icon-remove mar_t3"></i>@res.Common.btnCancel</button>
        </div>
      </div> 
           <input type="hidden" id="hiddCompID" name="OldCompID" value="@Articles.CompID"/>
       </form>
        </div>
    </article>
</div>
<div class="clean20"></div>

@section js{
<script src="@Url.js("Admin/Article/EditArticle.js")" type="text/javascript"></script>
<script src="@Url.js("UC/Validate/validator-select.js")" type="text/javascript"></script>
<script src="@Url.js("Admin/Article/UploadArticle.js")" type="text/javascript"></script>
}