@using Ouikum;
@using res = Prosoft.Resource.Web.Ouikum;
@if (((List<view_SearchProduct>)ViewBag.FeatProducts).Count > 5)
{
<div class="row-fluid" >   
        <div class="divrow">
            <div class="fontOrange fl_r inline label-header mar_t30 W92" style="border-top:1px solid #eee;padding:25px 0px 0px 0px;width:100%;padding-bottom:15px"><span class="font_xxl">@res.Product.lblRelate_pro_supplier</span></div>
        </div>  

    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
            <td style="vertical-align:top">
            
        <center class="span">
        <div class="feat" style="position:relative" >
        <div id="container" class="fl_l" style="width:1100px;margin-top:-5px">
          <ul id="slide-feature" class="jcarousel-skin-feature">          
            @foreach (var item in (List<view_SearchProduct>)ViewBag.FeatProducts)
            { 
            <li class="mar_t10">
                @if (res.Common.lblWebsite == "AntCart" && item.PromotionPrice > 0)
                {
                var priceof = Convert.ToInt32(100 - ((item.PromotionPrice / item.Price) * 100)) + "%";  
                <div class="discountoff"><span style="line-height:15px;color:white">ลด <center>@priceof</center></span><span></span></div>
                                                                                        
                }
                <p>
                <a class="imgborder" target="_blank" title="@item.ProductName" href="@Url.Action("Detail", "Product", new { id = item.ProductID , name = @Url.ReplaceUrl(item.ProductName) , area = "Search"  })" style=" display:block; width:160px; height:160px;">
                    <span style="width:130px;height:130px;display:block" class="mar_15">
                        <img src="@Url.ThumbProduct(item.CompID, item.ProductID, item.ProductImgPath)" alt="@item.ProductName" onload="resizeImg($(this),130,130);"  />
                    </span>
                </a>
                @if (res.Common.lblWebsite == "AntCart")
                {
                  <div class="clean"></div>
                }
                  else{
                  <div class="clean15"></div>
                }
                <a class="substr " title="@item.ProductName" style=" line-height:18px; display:block;width:160px"  
                    href="@Url.Action("Detail", "Product", new { id = item.ProductID , name = @Url.ReplaceUrl(item.ProductName) , area = "Search"  })">
                        <div style="min-height:22px;"><em style="font-style:normal">@Html.SubText(item.ProductName, 20)</em></div>
                </a>
                @if(item.Price == 0){
                    <div class="font_l" style="color:#FD7C16"></div>
                }else{
                    <div class="font_l" style="color:#FD7C16">@(String.Format("{0:##,###.##}", item.Price)) @res.Product.lblBaht</div>
                }
                @if (res.Common.lblWebsite == "AntCart")
                {
                if (item.Price > 0)
                  { 
                    if (item.IsPromotion == true){
                    <div class="muted" style="text-align:center;text-decoration:line-through">@(String.Format("{0:##,###.##}", item.Price)) @res.Product.lblBaht</div>
                    }
                    else{
                    <div class="font_l" style="color:#FD7C16">@(String.Format("{0:##,###.##}", item.Price)) @res.Product.lblBaht</div>
                    }
                }
                if (item.PromotionPrice > 0)
                    { 
                    <span class="font_l" style="color:#FD7C16">@(String.Format("{0:##,###.##}", item.PromotionPrice)) @res.Product.lblBaht</span>
                    }
                }
                </p>
            </li> 
            }
          </ul>
          <a href="#" id="ui-carousel-next"><span>@res.Common.lblNext</span></a>
		  <a href="#" id="ui-carousel-prev"><span>@res.Common.lblPrev</span></a>
          <div class="clean"></div>
        </div>  
          <div class="clean30"></div>
        </div>
        </center>

        </td>

        </tr>
    </table>

</div>
}else{
    <div class="row-fluid" >   
        <div class="divrow">
            <div class="fontOrange fl_r inline label-header mar_t30 W92" style="border-top:1px solid #eee;padding:25px 0px 0px 0px;width:100%;padding-bottom:15px"><span class="font_xxl">สินค้าที่เกี่ยวข้องกับผู้ขายรายนี้</span></div>
        </div>  

    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
            <td style="vertical-align:top">
            
        <center class="span">
        <div class="feat" style="position:relative" >
        <div id="container" class="fl_l" style="width:1100px;margin-top:-5px">
          <ul id="slide-feature" class="jcarousel-skin-feature">          
            @foreach (var item in (List<view_SearchProduct>)ViewBag.FeatProducts)
            { 
            <li class="mar_t10">
                @if (res.Common.lblWebsite == "AntCart" && item.PromotionPrice > 0)
                {
                var priceof = Convert.ToInt32(100 - ((item.PromotionPrice / item.Price) * 100)) + "%";  
                <div class="discountoff"><span style="line-height:15px;color:white">ลด <center>@priceof</center></span><span></span></div>
                                                                                        
                }
                <p>
                <a class="imgborder" target="_blank" title="@item.ProductName" href="@Url.Action("Detail", "Product", new { id = item.ProductID , name = @Url.ReplaceUrl(item.ProductName) , area = "Search"  })" style=" display:block; width:160px; height:160px;">
                    <span style="width:130px;height:130px;display:block" class="mar_15">
                        <img src="@Url.ThumbProduct(item.CompID, item.ProductID, item.ProductImgPath)" alt="@item.ProductName" onload="resizeImg($(this),130,130);"  />
                    </span>
                </a>
                @if (res.Common.lblWebsite == "AntCart")
                {
                  <div class="clean"></div>
                }
                  else{
                  <div class="clean15"></div>
                }
                <a class="substr " title="@item.ProductName" style=" line-height:18px; display:block;width:160px"  
                    href="@Url.Action("Detail", "Product", new { id = item.ProductID , name = @Url.ReplaceUrl(item.ProductName) , area = "Search"  })">
                        <div style="min-height:22px;"><em style="font-style:normal">@Html.SubText(item.ProductName, 20)</em></div>
                </a>
                @if(item.Price == 0){
                    <div class="font_l" style="color:#FD7C16"></div>
                }else{
                    <div class="font_l" style="color:#FD7C16">@(String.Format("{0:##,###.##}", item.Price)) @res.Product.lblBaht</div>
                }
                @if (res.Common.lblWebsite == "AntCart")
                {
                if (item.Price > 0)
                  { 
                    if (item.IsPromotion == true){
                    <div class="muted" style="text-align:center;text-decoration:line-through">@(String.Format("{0:##,###.##}", item.Price)) @res.Product.lblBaht</div>
                    }
                    else{
                    <div class="font_l" style="color:#FD7C16">@(String.Format("{0:##,###.##}", item.Price)) @res.Product.lblBaht</div>
                    }
                }
                if (item.PromotionPrice > 0)
                    { 
                    <span class="font_l" style="color:#FD7C16">@(String.Format("{0:##,###.##}", item.PromotionPrice)) @res.Product.lblBaht</span>
                    }
                }
                </p>
            </li> 
            }
              @if (ViewBag.FeatProductsHot != null)
              {
                  foreach (var item in (List<view_HotFeaProduct>)ViewBag.FeatProductsHot)
                { 
                <li class="mar_t10">
                    @if (res.Common.lblWebsite == "AntCart" && item.PromotionPrice > 0)
                    {
                    var priceof = Convert.ToInt32(100 - ((item.PromotionPrice / item.Price) * 100)) + "%";  
                    <div class="discountoff"><span style="line-height:15px;color:white">ลด <center>@priceof</center></span><span></span></div>
                                                                                        
                    }
                    <p>
                    <a class="imgborder" target="_blank" title="@item.ProductName" href="@Url.Action("Detail", "Product", new { id = item.ProductID , name = @Url.ReplaceUrl(item.ProductName) , area = "Search"  })" style=" display:block; width:160px; height:160px;">
                        <span style="width:130px;height:130px;display:block" class="mar_15">
                            <img src="@Url.ThumbProduct(item.CompID, item.ProductID, item.ProductImgPath)" alt="@item.ProductName" onload="resizeImg($(this),130,130);"  />
                        </span>
                    </a>
                    @if (res.Common.lblWebsite == "AntCart")
                    {
                      <div class="clean"></div>
                    }
                      else{
                      <div class="clean15"></div>
                    }
                    <a class="substr " title="@item.ProductName" style=" line-height:18px; display:block;width:160px"  
                        href="@Url.Action("Detail", "Product", new { id = item.ProductID , name = @Url.ReplaceUrl(item.ProductName) , area = "Search"  })">
                            <div style="min-height:22px;"><em style="font-style:normal">@Html.SubText(item.ProductName, 20)</em></div>
                    </a>
                    @if(item.Price == 0){
                        <div class="font_l" style="color:#FD7C16"></div>
                    }else{
                        <div class="font_l" style="color:#FD7C16">@(String.Format("{0:##,###.##}", item.Price)) @res.Product.lblBaht</div>
                    }
                    @if (res.Common.lblWebsite == "AntCart")
                    {
                    if (item.Price > 0)
                      { 
                        if (item.IsPromotion == true){
                        <div class="muted" style="text-align:center;text-decoration:line-through">@(String.Format("{0:##,###.##}", item.Price)) @res.Product.lblBaht</div>
                        }
                        else{
                        <div class="font_l" style="color:#FD7C16">@(String.Format("{0:##,###.##}", item.Price)) @res.Product.lblBaht</div>
                        }
                    }
                    if (item.PromotionPrice > 0)
                        { 
                        <span class="font_l" style="color:#FD7C16">@(String.Format("{0:##,###.##}", item.PromotionPrice)) @res.Product.lblBaht</span>
                        }
                    }
                    </p>
                </li> 
                }
              }
          </ul>
          <a href="#" id="ui-carousel-next"><span>@res.Common.lblNext</span></a>
		  <a href="#" id="ui-carousel-prev"><span>@res.Common.lblPrev</span></a>
          <div class="clean"></div>
        </div>  
          <div class="clean30"></div>
        </div>
        </center>

        </td>

        </tr>
    </table>

</div>
}