@using res = Prosoft.Resource.Web.Ouikum
<div id="RejectModal" data-id="" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@res.Admin.btnReject</h3>
    </div>
    <div class="modal-body">
    <div id="rejectform">
    <label class="checkbox">
        <input name="" type="checkbox" class="msg_reject" value="@res.Product.validDataMissing_NotCollect"> @res.Product.validDataMissing_NotCollect
    </label>
    <label class="checkbox">
        <input name="" type="checkbox" class="msg_reject"  value="@res.Product.validDataImgNotMatchData" > @res.Product.validDataImgNotMatchData
    </label>
    <label class="checkbox">
        <input name="" type="checkbox" class="msg_reject"  value="@res.Product.validContraband"> @res.Product.validContraband
    </label>
    <label class="checkbox">
        <input name="" type="checkbox" class="msg_reject"  value="@res.Product.validOtherRemark">@res.Product.validOtherRemark
    </label>
    <textarea rows="4" class="span3 msg_reject_remark"></textarea>
    </div>
    <div class="clean10"></div>
    <button id="save_reject" class="btn btn-danger"  type="button">@res.Common.btnSave</button>
</div> 
</div>