@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/MP/MP_Order.cshtml";
}
@using res = Prosoft.Resource.Web.Ouikum;
<div class="mainContent" style="width: 100%;margin-top: -5px;">
    <div class="clean"></div>
    @Html.Partial("MyB2B/Order/WelcomeMessage")
    <!-------------------------Main Menu---------------------------->
@*    @Html.Partial("MyB2B/Order/WebconfigOrderMenu")*@
    <button class="btn fl_r bg_product_hide hide mar_r10 ShowTabmenu mar_t10" type="button" style="padding:0 5px">
        <i class="icon-chevron-down cursor btn-tootip-bottom"  rel="tooltip Popover" data-original-title="@res.Common.btnShow"></i>
    </button>
    <div class="clean"></div>
    <!---------------------------Table------------------------------>
    <div style="margin:10px;"></div>
    @Html.Partial("UC/ConfirmPayment")
</div>

@section js {
    <script src="@Url.js("MyB2B/Order/ManageOrder.js")" type="text/javascript"></script>
    <script src="@Url.js("jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.js("MyB2B/Order/ConfirmPayment.js")" type="text/javascript"></script>
}
