@{
    ViewBag.Title = "Banner List";
    Layout = "~/Views/MP/MP_Administrator.cshtml";
}

@section head{
    <link href="@Url.css("Admin/WebConfig/ManageMember.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.css("UC/DatepickerUC/datepicker.css")" rel="stylesheet" type="text/css" />  
    <link href="@Url.css("UC/DatePeriodUC/ui.daterangepicker.css")" rel="stylesheet" type="text/css" />
}
@using res = Prosoft.Resource.Web.Ouikum;

<div id="autoHeight" class="ContentAdmin">
<div class="clean30"></div>
    <h4 id="information_msg" class="alert_info" style="width:98%;">
        คุณสามารถเพิ่ม Banner ได้สูงสุด 10 รายการ และไม่ต่ำกว่า 1 รายการ
    </h4>

<!---------------------------Table------------------------------>
<div id="main_content" style="margin:0px 10px 10px 10px;">
@using (Ajax.BeginForm("BannerList", "Banner", new AjaxOptions { HttpMethod = "Post", OnSuccess = "GridSuccess" }))
{ 
    <div class="clean10"></div>
    @Html.Partial("UC/SearchBanner")
     <div id="ArticleGrid" class="mar_t10">@Html.Partial("UC/Grid/GridUC")</div>
}
</div>
<div class="clean50"></div>
@section js {
    <script src="@Url.js("Admin/Banner/ListBanner.js")" type="text/javascript"></script>
    <script src="@Url.js("UC/DatePeriodUC/date.js")" type="text/javascript"></script>
    <script src="@Url.js("UC/DatePeriodUC/daterangepicker.jQuery.js")" type="text/javascript"></script>
    <script src="@Url.js("jquery.validate.min.js")" type="text/javascript"></script> 
}
