@{
    ViewBag.Title = res.Admin.lblEditMember;
    Layout = "~/Views/MP/MP_Administrator.cshtml";
    IFormatProvider cultureEN = new System.Globalization.CultureInfo("en-US", true);
 
}
@section head{
    <link href="@Url.css("Admin/WebConfig/ManageMember.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.js("jquery-ui-1.8.23.min.js")" type="text/javascript"></script>
    <link href="@Url.css("UC/DatepickerUC/datepicker.css")" rel="stylesheet" type="text/css" />
}
@using res = Prosoft.Resource.Web.Ouikum
@using Prosoft.Service;
@using Ouikum;
@{
    var CompMember = (view_emCompanyMember)ViewBag.CompMember;
    var Company = (b2bCompany)ViewBag.Company;
    EncryptManager encrypt = new EncryptManager();
    var RegisDate = (DateTime.Parse(CompMember.RegisDate.ToString()).ToString("dd/MM/yyyy",cultureEN)).ToString();
  }
<style>
.Remark_hide
{
    display:none;
    }
    .Remark_show
{
    display:block;
    }
</style>
<div id="autoHeight" class="ContentAdmin">
<div class="clean20"></div>
@Html.Partial("Admin/WelcomeMessage")
<!-------------------------Main Menu---------------------------->
@*@Html.Partial("Admin/WebconfigMainMenu")*@

<article class="module width_full">
    <header>
        <h3 class="tabs_involved">@res.Admin.lblEditMember</h3>
    </header>
    <div class="module_content">
        <form method="post" action="@Url.Action("EditMember","User",new{area="Admin"})" name="Edit_form" id="Edit_form" class="form-horizontal">
            <h2>@res.Admin.lblWebAccessData</h2>
                <div class="control-group">
                    <label class="control-label">@res.Common.colStatus :</label>
                    <div class="controls mar_t5 Email">
                        @{var text = ""; var text_status = "";} 
                         @foreach (var it in ViewBag.EnumUserStatus)
                         {
                             if (CompMember.CompRowFlag == DataManager.ConvertToShort(it.EnumValue))
                             {
                                 text = it.EnumText;
                                 text_status = "text_" + it.EnumText;
                             }
                         }
                               <label class="show @text_status">@text</label>
                            <select name="CompRowFlag" class="hide span2 CompRowFlag @text_status" onchange="ChangeRowFlag($(this))">
                               @foreach (var it in ViewBag.EnumUserStatus)
                               {
                                   if (CompMember.CompRowFlag == DataManager.ConvertToShort(it.EnumValue))
                                   {
                                    <option value="@it.EnumValue" selected="selected" class="text_@{@it.EnumText}">@it.EnumText</option>
                                   }
                                   else
                                   {
                                    <option value="@it.EnumValue" class="text_@{@it.EnumText}">@it.EnumText</option>
                                   }
                               }
                            </select>
                            
                         <label class="checkbox" id="IsCompRowflag" style="display:none">
                             <input type="checkbox" class="cbxItem cbxCompID" id="IsCompRowflagBox" name="IsCompRowflagBox" onclick="IsRemark($(this))" value="0" />
                             @res.Common.lblMessage_attach
                         </label>
                    </div>
              </div>

                @{ var SH = "hide";
                   if ((Company.RowFlag == 0 || Company.RowFlag == 3) && Company.Remark != null)
                   {
                       SH = "show";
                   }
                 }
               <div id="divRemark" class="control-group Remark_@{@SH}">
                    <label class="control-label">@res.Common.lblMessage_attach:</label>
                    <div class="controls mar_t5">
                        <span name="Remark" class="show">
                        @if (Company.Remark != null && Company.Remark != "")
                        {
                            @Company.Remark

                        }
                        else
                        { 
                            <text>-</text>
                        }
                        </span>
                        <textarea id="Remark" name="Remark" class="span4 hide Remark_@{@SH}">@Company.Remark</textarea>
                        <div class="hide" style="color:#BD362F;">
                            - @res.Admin.lblAdminRemark1<br />
                            - @res.Admin.lblAdminRemark2
                        </div>
                    </div>
                </div>
                
            
               <div class="control-group">
                    <label class="control-label">@res.Member.lblUsername :</label>
                    <div class="controls mar_t5">
                        <span name="Username" class="">
                        @if (CompMember.UserName != null && CompMember.UserName != "")
                        {
                            @CompMember.UserName
                        }
                        else
                        { 
                        <text>-</text>
                        }
                        <input type="hidden" name="MemberID" id="MemberID" value="@CompMember.MemberID" />
                        </span>
                    </div>
                </div>
               <div class="control-group">
                  <label class="control-label">@res.Member.lblPassword :</label>
                  <div class="controls mar_t5">
                  <span name="Username" class="">
                  @if (CompMember.Password != null && CompMember.Password != "")
                  {
                      
                    @encrypt.DecryptData(CompMember.Password)
                  }
                  else
                  { 
                  <text>-</text>
                  }
                  </span>
                 </div>
              </div>

              <div class="control-group">
                    <label class="control-label">@res.Common.lblEmail :</label>
                    <div class="controls mar_t5 Email">
                        <span name="Email" class="show">
                       @if (CompMember.Email != null && CompMember.Email != "")
                       {
                            @CompMember.Email
                       }
                       else
                       { 
                        <text>-</text>
                       }
                        </span>
                        <input type="text" id="Email" name="Email" class="span4 hide" placeholder="Email" value="@CompMember.Email" onblur="checkEmail();" />
                    </div>
              </div>

               <div class="control-group">
                    <label class="control-label">Admin Note :</label>
                    <div class="controls mar_t5">
                        <span name="AdminNote" class="show">
                        @if (Company.AdminNote != null && Company.AdminNote != "")
                        {
                            @Company.AdminNote
                        }
                        else
                        { 
                        <text>-</text>
                        }
                        </span>
                        <textarea id="AdminNote" name="AdminNote" class="span4 hide">@Company.AdminNote</textarea>
 @*                       <div class="hide" style="color:#BD362F;">
                            - บันทึกต่างๆของ admin 
                        </div>*@
                    </div>
                </div>

              <div class="clean10"></div>

            <h2>@res.Company.lblAccountData</h2>
            
            <div class="control-group">
                <label class="control-label" for="ServiceType">@res.Common.lblServiceType :</label>
                <div class="controls mar_t5"> 
                   <span name="ServiceType" class="show">
                   @foreach (var it in ViewBag.EnumMemberType)
                   {
                       if (DataManager.ConvertToByte(it.EnumValue) == Company.ServiceType)
                       {
                            @it.EnumText
                       }
                   }
                   </span>
                   <select class="span4 hide" id="ServiceType" name="ServiceType">
                    <option value="0">@res.Common.ddlSelectPlease</option>
                    @foreach (var it in ViewBag.EnumMemberType)
                    {
                        if (DataManager.ConvertToByte(it.EnumValue) == Company.ServiceType)
                        {
                            <option value="@it.EnumValue" selected="selected">@it.EnumText</option>
                        }
                        else
                        { 
                            <option value="@it.EnumValue">@it.EnumText</option>
                        }
                    }
                </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="DisplayName">@res.Member.lblDisplay :</label>
                <div class="controls mar_t5 DisplayName">
                    <span class="show">
                    @if (CompMember.DisplayName != null && CompMember.DisplayName != "")
                    {
                            @CompMember.DisplayName
                    }
                    else
                    { 
                        <text>-</text>
                    }
                    </span>
                    <input type="text" id="DisplayName" name="DisplayName" class="span4 hide" placeholder="DisplayName" value="@CompMember.DisplayName"  onblur="checkDisplayName();" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Level">@res.Admin.lblMemberLevel :</label>
                <div class="controls mar_t5">
                    <span name="Level" class="show">
                       @foreach (var it in ViewBag.EnumCompLevels)
                       {
                           if (DataManager.ConvertToByte(it.EnumValue) == Company.CompLevel)
                           {
                                @it.EnumText
                           }
                       }
                    </span>
                     <select class="span4 hide" name="CompLevel" id="CompLevel">
                        <option value="0">@res.Common.ddlSelectPlease</option>
                         @foreach (var it in ViewBag.EnumCompLevels)
                         {
                             if (DataManager.ConvertToByte(it.EnumValue) == Company.CompLevel)
                             {
                            <option value="@it.EnumValue" selected="selected">@it.EnumText</option>
                             }
                             else
                             { 
                            <option value="@it.EnumValue">@it.EnumText</option>
                             }
                         }
                    </select>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="Istrust">@res.Admin.lblShowMainPage :</label>
                <div class="controls">
                    <label id="lblIstrust" class="control-label show" for="Istrust" style="text-align:left;">
                    @if (Company.IsTrust == true)
                    {
                        <text>@res.Common.btnShow</text>
                    }
                    else
                    {
                        <text>@res.Common.btnNotShow</text>
                    }
                    </label>
                    @if (@Company.IsTrust == true)
                    {
                        <input type="checkbox" id="IsTrust" name="IsTrust" class="hide" value="@if(Company.IsTrust == true){<text>1</text>}else{<text>0</text>}"  onclick="istrust();" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" id="IsTrust" name="IsTrust" class="hide" value="@if(Company.IsTrust == true){<text>1</text>}else{<text>0</text>}"  onclick="istrust();" />
                    }
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="IsSME">จากผู้ประกอบการ SME :</label>
                <div class="controls">
                    <label id="lblIsSME" class="control-label show" for="IsSME" style="text-align:left;">
                    @if (Company.IsSME == true)
                    {
                        <text>Yes</text>
                    }
                    else
                    {
                        <text>-</text>
                    }
                    </label>
                    @if (@Company.IsSME == true)
                    {
                        <input type="checkbox" id="IsSME" name="IsSME" class="hide" value="@if(Company.IsSME == true){<text>1</text>}else{<text>0</text>}"  onclick="issme();" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" id="IsSME" name="IsSME" class="hide" value="@if(Company.IsSME == true){<text>1</text>}else{<text>0</text>}"  onclick="issme();" />
                    }
                </div>
            </div>
        <div class="control-group">
            <label class="control-label" for="CreatedDate">วันที่@res.Common.lblRegister :</label>
            <div class="controls" style="margin-bottom:20px">
            <span class="show" style="text-align:left;padding-top: 4px;">
            @if (CompMember.RegisDate != null)
            {
                @RegisDate
            }
            else
            {
                <text>-</text>
            }
            </span>
                @{
                    var RegisDate1 = (DateTime.Parse(CompMember.RegisDate.ToString()).ToString("MM/dd/yyyy", cultureEN)).ToString(); //ต้องสลับ MM/dd เพราะ plugin 
                    var RegisDate2 = (DateTime.Parse(CompMember.RegisDate.ToString()).ToString("dd/MM/yyyy", cultureEN)).ToString(); //เก็บค่าไปบันทึก
                }
                
                 <div class="control-group hide" style="margin-bottom:10px">
                <div class="controls CreatedDate span3 hide" style="margin-left:0;"> 
                    <div data-date-format="dd/mm/yyyy" class="input-append hide" >
                        <input type="text" class="span2 hide" name="dp3" value="@RegisDate1" id="dp3" placeholder="@res.Buylead.lblFormatDate" onchange="CheckCompareExpire()" readonly=readonly style="width: 355px;border-radius: 3px;cursor: pointer;" />
                        <span class="icon-calendar" style="margin-left:-22px;position: absolute;z-index: 999;margin-top: 7px;"></span>
                        <input type="hidden" id="date" name="date" value="@RegisDate2" class="span4 hide" />
                        @*<button class="btn" type="button"><i class="icon-calendar"></i></button>*@
                    </div><label class="error"></label> 
                </div>
                     </div>
            </div>
            
        </div>
       
        <div class="control-group exp exp2">
            <label class="control-label" for="ExpireDate">@res.Common.lblExpire_date :</label>
            <div class="controls">
                <label id="lblExpireDate" class="control-label" for="ExpireDate" style="text-align:left;">
                @if (Company.ExpireDate != null)
                {
                    var ExpireDate = (DateTime.Parse(Company.ExpireDate.ToString()).ToString("dd/MM/yyyy",cultureEN)).ToString();
                    @ExpireDate
                    var ExpireDate1 = (DateTime.Parse(Company.ExpireDate.ToString()).ToString("dd/MM/yyyy",cultureEN)).ToString();
                    <input type="hidden" value="@ExpireDate1" id="ExpireDateOld" name="ExpireDateOld"/>
                }
                else
                {
                    <text>-</text>
                }
                </label>
            </div>
        </div>
        

    <div class="control-group exp exp1">
        <label class="control-label hide" for="ExpireDate">@res.Common.lblEdit @res.Common.lblExpire_date :</label>
        <div class="controls">
            <label id="lblEditExpireDate" class="control-label hide" for="ExpireDate" style="text-align:left;">
                <select id="ExpireDate" name="ExpireDate" class="span4">
                    <option value="0">@res.Common.btnSelect</option>
                    @for (var i = 1; i < 12; i++)
                    {
                    <option value="@i">@i&nbsp;@res.Common.lblMonth</option>
                    }
                    <option value="12">1&nbsp;@res.Common.lblYear</option>
                </select>
            </label>
        </div>
    </div>
    <div class="clean10"></div>

        <h2>@res.Common.lblMemberProfile</h2>
            <div class="control-group inline" style="vertical-align: top;">
                <label class="control-label" for="FirstName">@res.Common.lblfirstlast_name :</label>
                <div class="controls">
                <span name="Name" class="show" style="margin-top:5px;">@CompMember.FirstName&nbsp;&nbsp;&nbsp;@CompMember.LastName</span>
                    <input type="text" name="FirstName" class="span2 mar_r25 hide" placeholder="FirstName" value="@CompMember.FirstName" />
                </div>
            </div>
            <div class="control-group inline" style="vertical-align: top;">
                <div>
                    <input type="text" name="LastName" class="span2 hide" placeholder="LastName" value="@CompMember.LastName" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="CompName">@res.Common.lblComname :</label>
                <div class="controls mar_t5 CompName">
                  <span name="CompName" class="show">
                  @if (CompMember.CompName != null && CompMember.CompName != null)
                  {
                            @CompMember.CompName
                  }
                  else
                  { 
                        <text>-</text>
                  }
                  </span>
                  <input type="text"  name="CompName" id="CompName" placeholder="Company Name" class="span4 hide" value="@CompMember.CompName" onblur="checkCompName();" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="BizTypeID">@res.Common.lblBusiness_Type :</label>
                <div class="controls mar_t5">
                    <span name="BizTypeID" class="show">
                     @if (CompMember.BizTypeID != 0)
                     {
                         foreach (var it in (List<b2bBusinessType>)ViewBag.Biztypes)
                         {
                             if (it.BizTypeID == CompMember.BizTypeID)
                             {
                                 if (CompMember.BizTypeID == 13)
                                 {
                                <text> @it.BizTypeName (@CompMember.BizTypeOther)</text>
                                 }
                                 else
                                 { 
                                @it.BizTypeName
                                 }
                             }
                         }
                     }
                     else
                     { 
                     <text>-</text>
                     }
                    </span>
                    <select name="BizTypeID" id="BizTypeID"  class="span4 hide">
                    <option value="0">@res.Common.chooseBizType</option>
                    @foreach (var it in (List<b2bBusinessType>)ViewBag.Biztypes)
                    {
                        if (it.BizTypeID == CompMember.BizTypeID)
                        {
                            <option value="@it.BizTypeID" selected="selected">@it.BizTypeName</option>
                        }
                        else
                        {
                            <option value="@it.BizTypeID">@it.BizTypeName</option>
                        }
                    }
                </select>
                </div>
            </div>
             @if (CompMember.BizTypeID == 13)
             {
                <div class="BizType mar_b20">
                    <div class="controls">
                        <input type="text" id="BizTypeOther" name="BizTypeOther" placeholder="BusinessType Other" class="span4" style="display:none;" value="@CompMember.BizTypeOther" />
                    </div>
                </div>  
             }
             else
             {
                <div class="BizType">
                    <div class="controls">
                        <input type="text" id="BizTypeOther" name="BizTypeOther" placeholder="BusinessType Other" class="span4" style="display:none;" value="@CompMember.BizTypeOther" />
                    </div>
                </div> 
             }
            <div class="control-group">
                <label class="control-label" for="AddrLine1">@res.Common.lblAddress :</label>
                <div class="controls mar_t5">
                    <span name="AddrLine1" class="show">
                    @if (CompMember.AddrLine1 != null && CompMember.AddrLine1 != "")
                    {
                            @CompMember.AddrLine1
                    }
                    else
                    { 
                        <text>-</text>
                    }
                    </span>
                    <input type="text" name="AddrLine1" id="AddrLine1" placeholder="Address" class="span4 hide" value="@CompMember.AddrLine1"/>
                </div>
            </div>
   
        <div class="control-group">
                <label class="control-label" for="Province">@res.Common.lblProvince :</label>
               <div class="controls mar_t5">
                    <span name="Province" class="show">
                     @if (CompMember.ProvinceID != null && CompMember.ProvinceID != 0)
                     {
                         foreach (var it in (List<emProvince>)ViewBag.Provinces)
                         {
                             if (CompMember.ProvinceID == it.ProvinceID)
                             {
                                @it.ProvinceName
                             }
                         }
                     }
                     else
                     {
                     <text>-</text>
                     }
                    </span>
                    <select name="ProvinceID" id="ProvinceID" class="span4 hide">
                  <option value="0">@res.Common.chooseProvince</option>
                    @foreach (var it in (List<emProvince>)ViewBag.Provinces)
                    {
                        if (it.ProvinceID == CompMember.ProvinceID)
                        { 
                            <option value="@it.ProvinceID" selected="selected">@it.ProvinceName</option>
                        }
                        else
                        {
                            <option value="@it.ProvinceID">@it.ProvinceName</option>
                        }
                    }
                </select>
                </div>
          </div> 

          <div class="control-group">
                <label class="control-label" for="District">@res.Common.lblDistrict :</label>
               <div class="controls mar_t5">
                    <span name="District" class="show">
                     @if (CompMember.DistrictID != null && CompMember.DistrictID != 0)
                     {
                         foreach (var it in (List<emDistrict>)ViewBag.Districts)
                         {
                             if (CompMember.DistrictID == it.DistrictID)
                             {
                            @it.DistrictName
                             }
                         }
                     }
                     else
                     { 
                        <text>-</text>
                     }
                    </span>
                    <select name="DistrictID" id="DistrictID"  class="span4 hide">
                  <option value="0">@res.Common.chooseDistrict</option>
                  @foreach (var it in (List<emDistrict>)ViewBag.Districts)
                  {
                      if (it.DistrictID == CompMember.DistrictID)
                      { 
                            <option value="@it.DistrictID" selected="selected">@it.DistrictName</option>
                      }
                      else
                      {
                            <option value="@it.DistrictID">@it.DistrictName</option>
                      }
                  }
                </select>
                </div>
          </div> 
      
          <div class="control-group">
                <label class="control-label" for="PostalCode">@res.Common.lblPostal_code :</label>
               <div class="controls mar_t5">
                  <span name="PostalCode" class="show">
                  @if (CompMember.PostalCode != null && CompMember.PostalCode != "")
                  {
                            @CompMember.PostalCode
                  }
                  else
                  { 
                        <text>-</text>
                  }
                  </span>
                  <input type="text" name="PostalCode" id="PostalCode" placeholder="PostalCode"  class="span4 hide" value="@CompMember.PostalCode" />
                </div>
          </div>

          <div class="control-group">
                <label class="control-label" for="Phone">@res.Common.lblPhoneno :</label>
               <div class="controls mar_t5">
                  <span name="Phone" class="show">
                  @if (CompMember.Phone != null && CompMember.Phone != "")
                  {
                            @CompMember.Phone
                  }
                  else
                  { 
                        <text>-</text>
                  }
                  </span>
                  <input type="text" name="Phone" id="Phone" placeholder="Phone"  class="span4 hide" value="@CompMember.Phone" />
                </div>
          </div>

          <div class="control-group">
                <label class="control-label" for="Mobile">@res.Common.lblMobileno :</label>
               <div class="controls mar_t5">
                  <span name="Mobile" class="show">
                  @if (CompMember.Mobile != null && CompMember.Mobile != "")
                  {
                            @CompMember.Mobile
                  }
                  else
                  { 
                        <text>-</text>
                  }
                  </span>
                  <input type="text" name="Mobile" id="Mobile" placeholder="Mobile"  class="span4 hide" value="@CompMember.Mobile" />
                </div>
          </div>
      
          <div class="control-group">
                <label class="control-label" for="Fax">@res.Common.lblFax :</label>
               <div class="controls mar_t5">
                  <span name="Fax" class="show">
                  @if (CompMember.Fax != null && CompMember.Fax != "")
                  {
                            @CompMember.Fax
                  }
                  else
                  { 
                        <text>-</text>
                  }
                  </span>
                  <input type="text" name="Fax" id="Fax" placeholder="Fax"  class="span4 hide" value="@CompMember.Fax" />
                </div>
          </div>
           <div class="control-group">
           <div class="controls mar_t5">
                <button type="button" id="edit" class="btn btn-default offset" style="margin:10px 0;"><i class="icon-edit mar_t3"></i> @res.Common.colEdit</button>
                <button type="submit" id="submit" class="btn btn-default offset hide"><i class="icon-save mar_t3"></i> @res.Common.btnSave</button>
                <button type="button" id="cancel" class="btn btn-default offset hide"> <i class="icon-remove mar_t3"></i> @res.Common.btnCancel</button>
                </div>
            </div>
          <div class="clean20"></div>
        </form>

    </div>
</article>
<div class="clean20"></div>
</div>
@section js{
    <script src="@Url.js("Admin/User/EditUser.js")" type="text/javascript"></script>
    <script src="@Url.js("UC/Validate/validator-select.js")" type="text/javascript"></script>
    <script src="@Url.js("UC/DatepickerUC/bootstrap-datepicker.js")" type="text/javascript"></script>  
}
<script type="text/javascript">
    $('#dp3').datepicker();
    $(function () {
        var expiredate = $('#dp3').val().substring(3, 6) + $('#dp3').val().substring(0, 3) + $('#dp3').val().substring(6, 10);
        $("#dp3").val(expiredate);
    });
</script>