@using res = Prosoft.Resource.Web.Ouikum;
@using Ouikum;

@section head{
    <link href="~/Content/CompanyWeb/WebsiteStyle.css" rel="stylesheet" />
}

<div class="border_table" style="width:99.89%; min-width:1200px; border-bottom-left-radius:3px; border-bottom-right-radius:3px;">
    <table class="table table-striped" style="margin:0px;">
        <thead class="HeaderTable">
            <tr class="header">
                <th style="border-right:1px solid #E0D9D9;">
                    <div style="text-align:left;" class="mar_l5">ลำดับ</div>
                </th>
                <th style="border-right:1px solid #E0D9D9;">
                    <div class="mar_l5" text-align:left;">รหัสใบสั่งซื้อ</div>
                </th>
                <th style="border-right:1px solid #E0D9D9;">
                    <div class="mar_l5" text-align:left;">วันที่สั่งซื้อ</div>
                </th>
                <th style="border-right:1px solid #E0D9D9;">
                    <div class="mar_l5" style="text-align:left;">รายการสินค้า</div>
                </th>
                <th style="border-right:1px solid #E0D9D9;">
                    <div class="mar_l5" style="text-align:left;">จำนวน</div>
                </th>
                <th style="border-right:1px solid #E0D9D9;">
                    <div class="mar_l5" style="text-align:left;">ราคาสินค้า/ชิ้น</div>
                </th>
                <th style="border-right:1px solid #E0D9D9;">
                    <div class="mar_l5" style="text-align:left;">ราคาสินค้า</div>
                </th>
                <th style="border-right:1px solid #E0D9D9;">
                    <div class="mar_l5" style="text-align:left">ค่าขนส่ง</div>
                </th>
                <th style="border-right:1px solid #E0D9D9;">
                    <div class="mar_l5" style="text-align:left">ราคารวมค่าขนส่ง</div>
                </th>
                <th style="border-right:1px solid #E0D9D9;">
                    <div class="mar_l5" style="text-align:left">สถานะสินค้า</div>
                </th>
                @*<th style="border-right:1px solid #E0D9D9;">
                    <div class="mar_l5" style="text-align:left">จัดการสถานะ</div>
                </th>*@
            </tr>
        </thead>
        <tbody class="body">
            @if (ViewBag.TotalPage <= 0 || ViewBag.TotalPage == null)
            {
                <tr class="nodata b" style="vertical-align:middle;">
                    <td><div style="text-align:center;">@res.Common.lblNotFound</div></td>
                </tr>
            }
            else
            {
                foreach (var it in (List<View_HistoryOrder>)ViewBag.GetOrder)
                {
                    <tr>
                        <td style="vertical-align:middle; text-align:center;">
                            <text>@it.RowVersion</text>
                        </td>
                        <td style="vertical-align:middle;">

                            <text>@it.OrderCode</text>

                        </td>
                        <td style="vertical-align:middle;">
                            <text>@it.OrderDate</text>
                        </td>
                        <td style="vertical-align:middle;">
                            <text>@it.ProductName</text>
                        </td>
                        <td style="vertical-align:middle; text-align:center;">
                            <text>@it.Qty</text>
                        </td>
                        <td style="vertical-align:middle; text-align:center;">
                            <text>@(string.Format("{0:##,###.##}", @it.Qty_Price))</text>
                        </td>
                        <td style="vertical-align:middle; text-align:center;">
                            <text>@(string.Format("{0:##,###.##}", @it.TotalPriceproduct))</text>
                        </td>
                        <td style="vertical-align:middle; text-align:center;">
                            @if (@it.PriceShipment == null)
                            {
                                <text>0</text>
                            }
                            else
                            {
                                <text>@(string.Format("{0:##,###.##}", @it.PriceShipment))</text>
                            }

                        </td>
                        <td style="vertical-align:middle; text-align:center;">
                            <text>@(string.Format("{0:##,###.##}", @it.TotalSum))</text>
                        </td>
                        <td style="vertical-align:middle; text-align:center;">
                            <text>@it.NameStatus</text>
                        </td>
                        @*<td style="vertical-align:middle;">
                            <div class="center">
                                <span id="" class="btn tootip-top" rel="tootip" style="width:0px;height:16px;" title="@res.Common.btnSendMessage @res.Common.lblForSupplier" onclick="Popup();"><i class="icon-envelope cursor" style="margin-left:-7px;"></i></span>
                                <a href="" target="_blank" class="btn tootip-top" rel="tootip" title="@res.Common.colEdit / @res.Common.lblDetail" style="width:0px;height:16px;"><i class="icon-edit mar_r10 cursor" style="margin-left:-7px;"></i></a>
                                <span class="btn tootip-top" style="width:0px;height:16px;" rel="tootip" title="ลบ" onclick="if(confirm('@res.Common.btnDel_Confirm ?')){DelUSer();}"><i class="icon-minus-sign cursor" style="margin-left:-7px;"></i></span>
                            </div>
                        </td>*@
                    </tr>
                }
            }

        </tbody>
    </table>
</div>


@Html.Partial("UC/Grid/PagingPostUC")
<script src="@Url.js("MyB2B/Shipment/emShipment.js")" type="text/javascript"></script>

<script language="javascript" type="text/javascript">
    $(function () {
        $('.ListNo').spinner();
        $('.btn-tootip-bottom').tooltip({ placement: 'bottom' });
        $('.btn-tootip-top').tooltip({ placement: 'top' });
        /*-----------------------text ChangeListNo--------------------------------*/

        $(".icon_ListNo_up").click(function () {
            if ($(this).parent().prev().prev().val() == "") {
                $(this).parent().prev().prev().val(1)
            } else {
                $(this).parent().prev().prev().val(parseInt($(this).parent().prev().prev().val()) + 1)
            }
        });
        $(".icon_ListNo_down").click(function () {
            if ($(this).parent().prev().prev().val() == "") {
            } else {
                if (parseInt($(this).parent().prev().prev().val()) > 0) {
                    $(this).parent().prev().prev().val(parseInt($(this).parent().prev().prev().val()) - 1)
                }
            }
        });

        SubTextShowDes();
    })
    function SubTextShowDes() {
        for (var i = 0; i < $('.shortdesp').length; i++) {
            var shortdespHtml = $('.shortdesp').eq(i).text();
            if (shortdespHtml.length > 80) {
                shortdespHtml = shortdespHtml.substring(0, 77);
                $('.shortdesp').eq(i).text(shortdespHtml + '...');
            }
        }
    }

    // Update ListNo
    var grouplen = $(".banner-group").length;

    $(document).ready(function () {
        for (var i = 0; i < grouplen; i++) {
            $('.banner-group').eq(i).attr('listno', i + 1);
        }
    });
    if (grouplen > 0) {
        if (grouplen == 1) {
            $(".icon-arrup").hide();
            $(".icon-arrdown").hide();
            $(".banner-group").prepend("<div class='fl_l icon-group mar_t9 mar_l25'></div>");
        }
        else {
            $(".icon-arrup").first().hide();
            $(".icongroup a").first().css('margin-left', 12);
            $(".icongroup a").last().css('margin-left', 12);
            $(".icon-arrdown").first().addClass("mar_l25");
            $(".icon-arrdown").last().hide();
        }
    }
    if ($(window).width() < 1025) {
        var text_productgroup = $(".banner-group a");
        for (var i = 0; i < text_productgroup.length; i++) {
            if (text_productgroup.eq(i).text().length > 15) {
                text_productgroup.eq(i).text(text_productgroup.eq(i).text().substring(0, 15) + "...");
            }
        }
    }

    /*--------------------------- ranking -------------------------------------*/

    function GroupListNo(obj) {
        var id = new Array();
        var no = new Array();
        id[0] = parseInt(obj.parents('.banner-group').attr('group'));
        no[1] = parseInt(obj.parents('.banner-group').attr('listno'));
        var action = obj.attr('action');
        if (action == "Up") {
            no[0] = no[1] - 1;
        }
        else if (action == "Down") {
            no[0] = no[1] + 1;
        }
        id[1] = parseInt($('.banner-group').eq(no[0] - 1).attr('group'));
        OpenLoading(true);
        $.ajax({
            url: GetUrl("Company/ChangeListNoShipment"),
            data: {
                id: id
            },
            traditional: true,
            success: function (data) {
                if (CheckError(data)) {
                    window.location = GetUrl('MyB2B/Company/CompanyShipment');
                }
            },
            error: function () {
                OpenLoading(false);
                bootbox.alert("Error");
            },
            type: "POST"
        });
    }

</script>