@using res = Prosoft.Resource.Web.Ouikum;
@using Ouikum;
<div class="head_banner">
    <div class="header_sys">
        <div class="fl_l">
            <h5 class="mar_l20">จัดการบริษัทขนส่ง</h5>
        </div>
        <div class="fl_r">
            <div class="btn_arrow-up btnCollapse" data-toggle="tooltip" data-target="#Banner_target">
                <i class="icon-arrow hideBanner" style="margin-top:12px;" title="ซ่อน"></i>
            </div>
            <a href="#" onclick="if(confirm('ต้องการลบข้อมูลหรือไม่ ?')){DelBanner();}">
                <div class="blog-add_delete">
                    <div style="float:left; margin-left:10px;">
                        <div class="delBanner mar_r5 mar_t12"></div>
                    </div>
                    <div style="float:left; line-height:40px;">
                        <span class="fontback">ลบ</span>
                    </div>
                </div>
            </a>
            <a target="_blank" href="Banner/AddBanner">
                <div class="blog-add_delete">
                    <div style="float:left; margin-left:10px;">
                        <div class="addBanner mar_t12"></div>
                    </div>
                    <div style="float:left; line-height:40px;margin-right:5px">
                        <span class="fontback">เพิ่ม</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div id="Banner_target" class="CollapseDetail">
    <div class="border_table mar_b10" style="width:100%;">
        <table class="table table-hover  grid" style="margin:0px;margin-left:1px">
            <thead class="HeaderTable">
                <tr class="header">
                    <th style="width:20px"><div class="center"><input type="checkbox" class="checkboxAll" value="false" onclick="CheckBoxall($(this))" /></div></th>
                    <th style="width:20px"><div>ลำดับ</div></th>
                    <th class="span3"><div>ชื่อภาษาไทย</div></th>
                    <th class="span3"><div>ชื่อภาาษาอังกฤษ</div></th>

                </tr>
            </thead>
            <tbody>
                @{var TotalPage = ViewBag.TotalPage;}
                @if (TotalPage <= 0 || TotalPage == null)
                {
                    <tr class="nodata b" valign="middle">
                        <td><div align="center">@res.Common.lblNotFound</div></td>
                    </tr>
                }
                else
                {
                    foreach (var item in (List<OuikumTransport>)ViewBag.Transport)
                    {
                        int ID = Convert.ToInt16(item.TranID);
                        <tr class="body">
                            <td style="vertical-align:middle;">
                                <div class="center">
                                    <input type="hidden" id="Article_@{@ID}" class="hidPrimeID" value="@ID" />

                                    @*ใช้กับ Grid*@
                                    <input type="checkbox" class="cbxItem cbxCompID" value="@ID" id="@ID" onclick="CheckBox(@ID)" />
                                    <input type="hidden" class="hidRowVersion" value="@item.RowVersion" />
                            </td>
                            <td class="icongroup center" style="vertical-align:middle;">
                                <div class="banner-group" rowversion="@item.RowVersion" group="@item.TranID" group-name="@item.TranName">
                                    <div class="fl_l mar_t4 mar_l10">@item.ListNo</div>
                                    <div class="fl_l icon-arrup mar_t8 mar_l25 mar_r5" action="Up" onclick="GroupListNo($(this))"></div>
                                    <div class="fl_l icon-arrdown mar_t8" action="Down" onclick="GroupListNo($(this))"></div>
                                </div>
                            </td>
                            <td style="vertical-align:middle;">
                                <div class="mar_b5">
                                    @item.TranName
                                
                                    @if (item.IsShow == true)
                                    {
                                        <a class="del_@{@ID} btn btn-mini btn-tootip-bottom padd_b4" rel="tooltip" title="show/hide" onclick="ChangeIsShow(@item.TranID,$(this));">
                                            <i class="icon-eye-open cursor"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="del_@{@ID} btn btn-mini btn-tootip-bottom padd_b4" rel="tooltip" title="show/hide" onclick="ChangeIsShow(@item.TranID,$(this));">
                                            <i class="icon-eye-close cursor"></i>
                                        </a>
                                    }
                                    <a class="edit_@{@ID} btn btn-mini btn-tootip-bottom padd_b4" rel="tooltip" title="@res.Common.lblEdit" href="@Url.Action("EditBanner", "Banner", new { BannerId = ID, area = "Admin" })">
                                        <i class="icon-edit"></i>
                                    </a>
                                    <a class="del_@{@ID} btn btn-mini btn-tootip-bottom padd_b4" rel="tooltip" title="@res.Common.btnDelete" @*onclick="DeleteCertify(@ID);"*@ onclick="if(confirm('@res.Common.btnDel_Confirm')){DelData(@item.TranID,@item.RowVersion,'BannerId','Banner');}">
                                        <i class="icon-remove-sign"></i>
                                    </a>
                                </div>
                            </td>
                            <td style="vertical-align:middle;"><div>@item.TranNameEng</div></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

